@media screen and (max-width: 600px) {
    #navbar li{
        display: none;
    }

    #navbar #logo {
        display: flex;
    }

    #bottom-header-links a:not(.btn) {
        display: none;
    }

    #main-content {
        padding: 2rem;
        overflow: hidden;
        
        #subtitle {
            font-size: 3rem;
        }
    }

    
}